<div class="container mt-5 m-2">
  <h1>New Users</h1>
  <%= form_for @user, html: { class: "form-horizontal" } do |f| %>
    <% if @user.errors.present? %>
      <div class="alert alert-danger" id="error_explanation">
        <h3 class="error">
          <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being created:" %>
        </h3>
        <ul class="error-list">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Name:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :name, placeholder: "Enter name", class: "form-control" %>
          <%= print_error(@user.errors, :name) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Email:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.email_field :email, placeholder: "Enter Email", class: "form-control", autofocus: true %>
          <%= print_error(@user.errors, :email) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Password:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.password_field :password, placeholder: "Enter Password", class: "form-control" %>
          <%= print_error(@user.errors, :password) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Confirm Password:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, placeholder: "Enter Password to Match", class: "form-control" %>
          <%= print_error(@user.errors, :password_confirmation) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <legend class="col-form-label col-sm-2 pt-0">Gender:
          <span class="text-danger star">*</span>
        </legend>
        <div class="col-sm-10">
          <div class="form-check">
            <%= f.radio_button :gender, "Male", { class: "form-check-input", id: "male" } %>
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check">
            <%= f.radio_button :gender, "Female", { class: "form-check-input", id: "female" } %>
            <label class="form-check-label" for="female">Female</label>
          </div>
          <div class="form-check">
            <%= f.radio_button :gender, "Other", { class: "form-check-input", id: "other" } %>
            <label class="form-check-label" for="other">Other</label>
          </div>
          <%= print_error(@user.errors, :gender) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Birth Date:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.date_field :birthdate, class: "form-control" %>
          <%= print_error(@user.errors, :birthdate) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Phone Number:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.telephone_field :phone, placeholder: "Enter Phone Number", class: "form-control" %>
          <%= print_error(@user.errors, :phone) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Postal Code:
          <span class="text-danger star">*</span>
        </label>
        <div class="col-sm-10">
          <%= f.text_field :postalcode, placeholder: "Enter Postal Code", class: "form-control" %>
          <%= print_error(@user.errors, :postalcode) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Profile of User:</label>
        <div class="col-sm-10">
          <%= f.text_area :notes, placeholder: "Enter Profile", class: "form-control", rows: 4 %>
          <%= print_error(@user.errors, :notes) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Website URL:</label>
        <div class="col-sm-10">
          <%= f.url_field :websiteurl, placeholder: "Enter Website URL", class: "form-control" %>
          <%= print_error(@user.errors, :websiteurl) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-sm-2 control-label">Role:</label>
        <div class="col-sm-10">
          <%= f.select :role, 
              options_for_select([
                ['Select Role', ''],
                ['Admin', 'admin'],
                ['Moderator', 'moderator'],
                ['Regular User', 'regular']
              ], @user.role), 
              { prompt: 'Choose a role' }, 
              { class: "form-control" } %>
          <%= print_error(@user.errors, :role) %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="form-check">
            <%= f.check_box :termsandcondition, class: "form-check-input" %>
            <label class="form-check-label">
              I agree to the <a href="/terms" target="_blank">Terms and Conditions</a>
              <span class="text-danger star">*</span>
            </label>
            <%= print_error(@user.errors, :termsandcondition) %>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Sign Up', class: "btn btn-primary btn-lg" %>
        <%= link_to 'Cancel', users_path, class: "btn btn-secondary ml-2" %>
      </div>
    </div>
  <% end %>
</div>